html {
    margin: 0;
    padding: 0 5px 5px 5px;
}

body {
    margin: 0;
    padding: 0;
    width: 332px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 0.9em;
    background-color: #0f171e;
    color: rgba(242, 244, 246, .8);
}

h2 {
    font-size: 1.2em;
}

em {
    color: rgba(242, 244, 246, 0.5);
}

.party label {
    position: relative;
    top: -3px;
}

.me {
    margin-bottom: 15px;
}

#save-displayname {
    transition: color 250ms ease-out;
}

#save-displayname:hover {
    color: rgb(0, 160, 214);
    cursor: pointer;
}

#displayname {
    padding: 3px;
    width: 106px;
}

.saved-hint {
    transition: visibility 0s, opacity 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin: 4px;
}

.fa-clipboard {
    font-size: 1.1em;
    margin-left: 3px;
}

.fa-clipboard:hover {
    color: rgb(0, 160, 214);
    cursor: pointer;
}


button {
    background-color: rgb(0, 160, 214);
    border-radius: 3px;
    border-style: none;
    padding: 0 12px 0 12px;
    height: 30px;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

button.secondary {
    transition: background-color 250ms ease-out;
    background-color: rgba(15, 23, 30, 0.4);
    box-shadow: inset 0 0 0 2px #425265;
}

button.secondary:hover {
    background-color: #203140;
}

#party-code, #displayname {
    background-color: #0f171e;
    text-align: center;
    border: 1px solid #223444;
    color: rgba(242, 244, 246, .8);
}

#party-code {
    font-size: 1.5em;
    width: 78px;
}

.party-controls {
    margin: 15px 0 15px 0;
}