html.player-mode {
    border-top: none;
    color: rgba(242, 244, 246, .4);
    background-color: #000;
    transition: all 1s ease-in-out;
    border-left: 1px solid rgba(129, 151, 164, .2);
}

html.active.player-mode {
    transition: all .3s ease-in-out;
    color: rgba(242, 244, 246, .8);
}

/* ************ CONTENT ************ */
html.player-mode #members {
    border-bottom: 1px solid rgba(129, 151, 164, .2);
}

/* ************ SCROLL ************ */
html.player-mode .scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
}

html.player-mode .scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

html.player-mode .scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

html.player-mode .scroll::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.5);
}