/**
* Inject this file in the iframe host document
*/

/* ******************** Webplayer and page ******************** */
#dv-web-player, #a-page {
    transition: width 1s ease-in-out;
}

/* *************** PvP defaults (browsing mode) *************** */
#pvp-sidebar {
    position: fixed;
    height: 100vh;
    width: 0;
    right: 0;
    top: initial;
    transition: width 1s ease-in-out, top 1s ease-in-out;
}

/* Sidebar is positioned differently on primevideo.com */
#pvp-sidebar:not(.player-mode).primevideo {
    height: calc(100vh - 72px);
}

#pvp-sidebar iframe {
    width: 100%;
    border: none;
    height: 100vh;
}

/* ******************** PvP webplayer mode ******************** */
#pvp-sidebar.player-mode {
    top: 0;
    z-index: 10000;
    height: 100vh;
}