/**
* Styles for notifications and chat messages
*/

.message .chat.notification {
    margin: 0;
    font-size: 0.6em;
}

#review-question .notification {
    color: rgba(255, 255, 255, 0.4);
}

#review-question .review-button.store {
    font-size: 1.2em;
    color: rgba(242, 244, 246, .8);
}

#review-question .review-button {
    margin: 6px 0;
    text-decoration: underline;
}

.notification {
    font-size: 0.7em;
    margin: 15px 0;
}

.notification a {
    color: rgba(255, 255, 255, 0.4);
    display: block;
}

.notification > i {
    margin-right: 5px;
}

.sender.dev {
    color: #ffa724;
}

.chat-spam-warning {
    display: none;
    font-size: 0.45em;
    text-align: center;
    color: #ffa724;
    margin-bottom: 5px;
}

.message {
    margin: 4px 0;
}

.message .chat:not(.notification) {
    background-color: rgba(0,0,0,0.4);
}

.message .chat {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    padding: 4px;
    transition: border .3s ease-in-out;
    font-size: 1.1em;
}

.message .chat-tip {
    position: relative;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(255, 255, 255, 0.13);
}

html:not(.active).player-mode .message .chat {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    transition: border 1s ease-in-out;
}

html:not(.active).player-mode .message .chat-tip {
    border-bottom: 7px solid rgba(255, 255, 255, 0.08);
    transition: border 1s ease-in-out;
}

.notification > i {
    color: rgb(0, 160, 214);
    transition: color 1s ease-in-out;
}

html.active.player-mode .notification > i {
    color: rgb(0, 160, 214);
    transition: color .3s ease-in-out;
}

html.player-mode .notification > i,
html.player-mode .notification {
    color: rgba(242, 244, 246, .25);
    transition: color 1s ease-in-out;
}
