/**
* Styles for notifications and chat messages
*/

.notification {
    font-size: 1.1em;
    margin: 5px 0;
}

.notification > i.fa {
    margin-right: 5px;
}

.chat-spam-warning {
    display: none;
    font-size: 0.45em;
    text-align: center;
    color: #ffa724;
    margin-bottom: 5px;
}

.notification > i.fa {
    color: rgb(0, 160, 214);
    transition: color 1s ease-in-out;
}

html.active.player-mode .notification > i.fa {
    color: rgb(0, 160, 214);
    transition: color .3s ease-in-out;
}

html.player-mode .notification > i.fa {
    color: rgba(242, 244, 246, .25);
    transition: color 1s ease-in-out;
}