/**
* Styles for notifications and chat messages
*/

.notification {
    font-size: 1.1em;
    margin: 5px 0;
}

.notification > i.fa {
    margin-right: 5px;
}

.chat-spam-warning {
    display: none;
    font-size: 0.45em;
    text-align: center;
    color: #ffa724;
    margin-bottom: 5px;
}

.message {
    margin: 2px 0;
    font-size: 1.1em;
}

.message .sender {
    margin-bottom: 1px;
    font-size: 0.8em;
}

.message .chat {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    padding: 5px;
    transition: border .3s ease-in-out;
}

html:not(.active).player-mode .message .chat {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    padding: 5px;
    transition: border 1s ease-in-out;
}

.notification > i.fa {
    color: rgb(0, 160, 214);
    transition: color 1s ease-in-out;
}

html.active.player-mode .notification > i.fa {
    color: rgb(0, 160, 214);
    transition: color .3s ease-in-out;
}

html.player-mode .notification > i.fa {
    color: rgba(242, 244, 246, .25);
    transition: color 1s ease-in-out;
}